#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

ifeq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
CFLAGS += -O3
endif

%:
	dh  $@

# This disable test when building the package. The rationale is that the
# tests program are interactive and need a X11 session which is not the
# case for autobuilder systems
override_dh_auto_test:

